.main-section {
  position: relative;
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-section-fill-fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: solid black 7px;
  border-radius: 20px;
  animation: pokemon-fade-in-animation 1s forwards;
  animation-delay: 0.5s;
  box-sizing: border-box;
}

.main-section-fill-fade-out {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  border: solid black 7px;
  border-radius: 20px;
  animation: pokemon-fade-out-animation 1s forwards;
  box-sizing: border-box;
}

.image-outer-box {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.image-box {
  position: relative;
  height: 50vh;
  width: 50vh;
  background-color: white;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  box-sizing: border-box;
  border: solid black 7px;
  border-radius: 20px;
}

.input-outer-box {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.input-box {
  height: 50vh;
  width: 50vh;
  position: relative;
  background-color: white;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10vh;
  padding: 10px;
  box-sizing: border-box;
  border: solid black 7px;
  border-radius: 20px;
}

.description {
  font-size: 20px;
}

.pokemon-image-fade-in {
  display: block;
  position: relative;
  left: 10%;
  top: 18%;
  width: 80%;
  height: 80%;
  opacity: 0;
  animation: pokemon-fade-in-animation 1s forwards;
  animation-delay: 0.5s;
}

.pokemon-image-fade-out {
  display: block;
  position: relative;
  left: 10%;
  top: 18%;
  width: 80%;
  height: 80%;
  opacity: 1;
  animation: pokemon-fade-out-animation 1s forwards;
}

.pokemonName {
  display: block;
  position: absolute;
  top: 3%;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.submit-container {
  position: absolute;
  width: 95%;
  top: 46%;
  text-align: center;
}

.submit-container button {
  margin-left: 5px;
}

.result {
  position: absolute;
  bottom: 4px;
  height: 40%;
  width: 95%;
  text-align: center;
}

.result button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  margin-top: 5px;
}

.message {
  display: block;
  margin-top: 16%;
  color: rgb(0, 201, 0)
}

.message-wrong {
  display: block;
  margin-top: 16%;
  color: red;
}

.result span {
  margin-bottom: 0;
}

.attempts {
  display: block;
}

.passed {
  display: block;
}

@keyframes pokemon-fade-in-animation {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes pokemon-fade-out-animation {
  from {opacity: 1;}
  to {opacity: 0;}
}

@media only screen and (max-width: 825px) {
  .image-outer-box {
    float: none;
    width: 100%;
    height: 47%;
    position: relative;
    top: 10px;
  }
  .input-outer-box {
    float: none;
    width: 100%;
    height: 47%;
    position: relative;
    top: 21px;
  }
  .result {
    height: 35%;
    bottom: 0;
    font-size: 14px;
  }
  .image-box {
    margin-top: 0;
  }
  .input-box {
    margin-top: 0;
    padding: 8px;
  }
  .main-section {
    width: 60vw;
    height: 85vh;
  }
  .image-box {
    height: 40vh;
    width: 40vh;
  }
  .input-box {
    height: 40vh;
    width: 40vh;
  }
  .description {
    font-size: 16px;
  }
  .message {
    margin-top: 2%;
  }
  .message-wrong {
    margin-top: 2%;
  }
}

@media only screen and (max-width: 414px) {
  .image-outer-box {
    float: none;
    width: 100%;
    height: 47%;
    position: relative;
    top: 10px;
  }
  .input-outer-box {
    float: none;
    width: 100%;
    height: 47%;
    position: relative;
    top: 21px;
  }
  .result {
    height: 35%;
    bottom: 0;
    font-size: 14px;
  }
  .image-box {
    margin-top: 0;
    border: solid black 3px
  }
  .input-box {
    margin-top: 0;
    padding: 8px;
    border: solid black 3px
  }
  .main-section {
    width: 90vw;
    height: 90vh;
  }
  .image-box {
    height: 43vh;
    width: 43vh;
  }
  .input-box {
    height: 43vh;
    width: 43vh;
  }
  .description {
    font-size: 16px;
  }
  .message {
    margin-top: 2%;
  }
  .message-wrong {
    margin-top: 2%;
  }
}

@media only screen and (height: 812px) {
  .image-box {
    height: 38vh;
    width: 38vh;
  }
  .image-outer-box {
    top: 40px;
  }
  .input-box {
    height: 38vh;
    width: 38vh;
  }
  .description {
    font-size: 20px;
  }
}

@media only screen and (height: 1366px) {
  .image-outer-box {
    float: none;
    width: 100%;
    height: 47%;
    position: relative;
    top: 10px;
  }
  .input-outer-box {
    float: none;
    width: 100%;
    height: 47%;
    position: relative;
    top: 21px;
  }
  .pokemonName {
    font-size: 40px;
  }
  .result {
    height: 35%;
    bottom: 0;
    font-size: 35px;
  }
  .image-box {
    margin-top: 0;
  }
  .input-box {
    margin-top: 0;
    padding: 8px;
  }
  .main-section {
    width: 60vw;
    height: 85vh;
  }
  .image-box {
    height: 40vh;
    width: 40vh;
  }
  .input-box {
    height: 40vh;
    width: 40vh;
  }
  .description {
    font-size: 35px;
  }
  .message {
    margin-top: 2%;
  }
  .message-wrong {
    margin-top: 2%;
  }
  .submit-container button {
    font-size: 35px;
  }
  .submit-container input {
    font-size: 32px;
  }
}

@media only screen and (height: 1024px) {
  .image-outer-box {
    float: none;
    width: 100%;
    height: 47%;
    position: relative;
    top: 10px;
  }
  .input-outer-box {
    float: none;
    width: 100%;
    height: 47%;
    position: relative;
    top: 21px;
  }
  .pokemonName {
    font-size: 35px;
  }
  .result {
    height: 35%;
    bottom: 0;
    font-size: 28px;
  }
  .image-box {
    margin-top: 0;
  }
  .input-box {
    margin-top: 0;
    padding: 8px;
  }
  .main-section {
    width: 60vw;
    height: 85vh;
  }
  .image-box{
    height: 40vh;
    width: 40vh;
  }
  .input-box{
    height: 40vh;
    width: 40vh;
  }
  .description {
    font-size: 27px;
  }
  .message {
    margin-top: 2%;
  }
  .message-wrong {
    margin-top: 2%;
  }
  .submit-container button {
    margin-top:3px;
    font-size: 25px;
  }
  .submit-container input {
    font-size: 25px;
  }
}
