.box img {
  width: 100%;
  height: 100%;
}

.landing-page {
  color: white;
}
.landing-page .row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.landing-page h1 {
  letter-spacing: 5px;
  text-align: center;
}

.intro .row {
  padding: 10px;
  background: rgba(0,0,0,0.25);
  border-radius: 5px;
}
.intro p {
  font-size: 25px;
  line-height: 30px;
}
.intro hr {
  border: 1px solid white;
}

.featured {
  padding-top: 50px;
  color: black;
}
.featured h2 {
  text-align: center;
}
.featured p {
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.featured hr {
  border: 1px solid black;
}

.call-to-action {
  padding-top: 60px;
  padding-bottom: 60px;
}
.call-to-action .row {
  padding: 30px;
  background: rgba(0,0,0,0.25);
  border-radius: 5px;
}
.call-to-action a {
  display: block;
  margin: 30px auto;
  width: 120px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
}
