.main-section{
    position: relative;
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
    /* background-color: silver; */
    
}

.main-section-fill-fade-in{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: pokemon-fade-in-animation 1s forwards;
    animation-delay: 0.5s;
}

.main-section-fill-fade-out{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: pokemon-fade-out-animation 1s forwards;
    /* animation-delay: 0.5s; */
}

.image-outer-box {
    /* display: inline-block; */
    float: left;
    width: 50%;
    height: 100%;
}

.image-box{
    position: relative;
    height: 50vh;
    width: 50vh;
    background-color: white;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 5%;
}

.input-outer-box {
    /* display: inline-block; */
    float: left;
    width: 50%;
    height: 100%;
}

.input-box{
    height: 50vh;
    width: 50vh;
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10vh;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5%
}

.description {
    font-size: 20px;
}

.pokemon-image-fade-in {
    display: block;
    position: relative;
    left: 10%;
    top: 18%;
    width: 80%;
    height: 80%;
    opacity: 0;
    animation: pokemon-fade-in-animation 1s forwards;
    animation-delay: 0.5s;
}

.pokemon-image-fade-out {
    display: block;
    position: relative;
    left: 10%;
    top: 18%;
    width: 80%;
    height: 80%;
    opacity: 1;
    animation: pokemon-fade-out-animation 1s forwards;
    /* animation-delay: 1s; */
}

.pokemonName {
    display: block;
    position: absolute;
    top: 3%;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.submit-container{
    position: absolute;
    width: 100%;
    top: 46%;
    text-align: center;
}
.submit-container button{
   margin-left: 5px;
}

.result {
    position: absolute;
    bottom: 4px;
    height: 40%;
    width: 100%;
    text-align: center;
}

.result button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 5px;
    
}

.message {
    display: block;
    margin-top: 16%;
    color: rgb(0, 201, 0)
}

.message-wrong{
    display: block;
    margin-top: 16%;
    color: red;
}

.result span{
    margin-bottom: 0;
}

.attempts-passed-container{
    
}

.attempts{
    display: block;
    /* position: absolute;
    bottom: 30%; */
}

.passed{
    display: block;
    /* margin-bottom: 30px; */
}

@keyframes pokemon-fade-in-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}


@keyframes pokemon-fade-out-animation {
    from {opacity: 1;}
    to {opacity: 0;}
}